@charset "UTF-8";

/*Global*/
:root{
	/*font-size*/
	--fontsize-large:50px;
	--fontsize-medium:35px;
	--fontsize-regular:27px;
	--fontsize-small:15px;
	--fontsize-micro:10px;
	
	/*font-weight*/
	--font-bold:600;
	--font-regular:400;
	--font-light:300;
	--font-extra-light:200;
	
	/*color*/
	--color-white: #ffffff;
	--color-lightdark-white:#e8e8e8;
	--color-dark-white:#cccccc;
	--color-black:#000000;
	--color-light-black:#525252;
	--color-yellow:#ffbb00;
	--color-dark-yellow:#b08a00;
	--color-navy:#000394;
	--color-green:#85ff8f;
	
}

/*base*/
body{
	margin:0;
	font-family: 'Source Sans Pro', sans-serif;
	cursor: default;
}
h1{
	font-size:var(--fontsize-large);
	font-weight:var(--font-bold);
}
h2{
	font-size:var(--fontsize-medium);
	font-weight:var(--font-regular);
}
h3{
	font-size:var(--fontsize-regular);
	font-weight:var(--font-regular);
}
a{
	text-decoration:none;
	color:var(--color-white);
}
ul{
	list-style:none;
}
button{
	border:none;
	background-color:transparent;
	cursor:pointer;
}
section{
	margin:auto;
}

#navbar{
	position:fixed;
	width:100%;
	color:var(--color-white);
	display:flex;
	justify-content:space-between;
	align-items: center;
	background-color:transparent;
}
#navbar.navbar--dark{
	background-color:var(--color-yellow);
}
.navbar__logo{
	font-size:var(--fontsize-medium);
	font-weight:var(--font-bold);
	
}
.navbar__menu{
	display:flex;
	font-size:var(--fontsize-small);
}
.navbar__menu__item{
	cursor:pointer;
	padding:8px 10px;
	border-radius:4px;
}
.navbar__menu__item.active{
	border:1px solid var(--color-white);
	border-radius:4px;
}
.navbar__menu__item:hover{
	background-color:var(--color-dark-yellow);
}
/*home*/
#home{
	background: url('./img/background.png') center/cover no-repeat;
	text-align:center;
	color:var(--color-white);
	padding:60px;
}
.home__photo{
	height:300px;
	width:300px;
	border-radius:50%;
}
.home__title{
	margin:0;
}
.home__description{
	margin:0;
}
.home__contact{
	padding:5px 15px;
	font-size:var(--fontsize-small);
	color:var(--color-white);
	border:1px solid var(--color-white);
	border-radius:4px;
	margin:30px;
}
/* about */
#about{
	text-align:center;
	padding:50px;
}

.major_contain{
	display:flex;
	justify-content:space-around;
	margin-top:50px;
}
.major__icon{
	color:var(--color-navy);
	font-size:80px;
	width:140px;
	height:140px;
	border:2px solid;
	border-radius:50%;
	margin:auto;
	line-height:140px;
}
.major__icon  {
	transition:300ms ease;
}
.major__icon:hover{
	color:var(--color-green);
	transform: rotate(-30deg) scale(1.3);
}
.img_box{
	display:flex;
	flex-direction:column;
}
.job_box{
	display:flex;
	flex-direction:row;
}
.exp__img{
	width:150px;
	height:80px;
}
.job_description{
	margin-left:30px;
	text-align:left;
	color:var(--color-light-black);
}
.job__exp{
	margin-top:30px;
}
.exp__name{
	font-size:var(--fontsize-small);
	font-weight:var(--font-bold);
}
.exp__content{
	font-size:var(--fontsize-small);
}

/*skill*/
#skills{
	background-color:var(--color-yellow);
	text-align:center;
}
.skills__contain{
	display:flex;
	justify-content:center;
}
.skills__contain__left{
	flex-basis:60%;
	background-color:var(--color-dark-white);
	padding:30px 0 ;
}
.contain__desc{
	display:flex;
	justify-content:space-between;
	padding:20px 40px;
}
.skills__contain__right{
	display:flex;
	flex-direction:column;
	flex-basis:40%;
	height:100%;
}
.skills__contain__right_top{
	background-color:var(--color-lightdark-white);
}
.skills__contain__right_bot{
	background-color:var(--color-white);
}
.skill_bar{
	background-color:var(--color-black);
	height:4px;
	width:80%;
	margin:auto;
}
.skill_value{
	background-color:var(--color-white);
	height:4px;
	width:90%;
}

/* work*/
.work__cate{
	margin:40px;
}
.mywork__btn{
	border:1px solid var(--color-black);
	padding:8px 48px;
	border-radius:4px;
}
.mywork__btn:hover{
	background-color:var(--color-yellow);
}
.img__contain{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	width:80%;
	height:250px;
}
.mywork__img{
	width:20%;
	height:60%;
}
.mywork__img.invisible{
	display:none;
}
